<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./vue.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <main id="app">
      <header>
        <img src="./assets/techno.svg" alt="Logo" />
        <div @click="carrinhoAtivo = true">
          <span>{{carrinhoTotal | formataPreco}}</span> |
          <span> {{carrinho.length}}</span>
          <img src="./assets/carrinho.svg" alt="Carrinho" />
        </div>
      </header>
      <div class="cart" :class="{ativo: carrinhoAtivo}" @click="closeModal">
        <div class="cart-container">
          <div class="close-modal" @click="carrinhoAtivo = false">X</div>
          <h1>Carrinho</h1>
          <ul>
            <li v-for="item, index in carrinho">
              <div>{{item.nome}}</div>
              <div class="cart-price">
                <span v-if="item.preco">{{item.preco | formataPreco}}</span>
                <button class="remove-item" @click="removeItemCart(index)">
                  X
                </button>
              </div>
            </li>
          </ul>
          <div class="cart-total">{{carrinhoTotal | formataPreco}}</div>
          <button class="finish-request">Finalizar Pedido</button>
        </div>
      </div>
      <div class="modal" v-if="produto" @click="closeModal">
        <div class="modal-content">
          <img :src="produto.img" :alt="produto.nome" srcset="" />
          <div class="container-description">
            <span class="close-modal" @click="produto = false">X</span>
            <div class="description-product">
              <p v-if="produto.preco">{{produto.preco | formataPreco}}</p>
              <h1>{{produto.nome}}</h1>
              <p>{{produto.descricao}}</p>
              <button v-if="produto.estoque > 0" @click="addItemCart">
                Adiciona Produto
              </button>
              <button v-else class="disabled-button" disabled>
                Produto Esgotado
              </button>
            </div>
            <div>
              <h1 class="title-assessments">Avaliações</h1>
              <ul>
                <li v-for="review in produto.reviews" class="list-assessments">
                  <p class="description">{{review.descricao}}</p>
                  <p class="name-stars">
                    {{review.nome}} | {{review.estrelas}} estrelas
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <ul class="container">
        <li v-for="item in produtos" @click="openModal(item.id)" :key="item.id">
          <div class="container-product">
            <img :src="item.img" :alt="item.nome" />
            <div class="description-products">
              <p>{{item.preco | formataPreco }}</p>
              <h1>{{item.nome}}</h1>
            </div>
          </div>
        </li>
      </ul>
      <div class="Alert" :class="{ativo: alertaAtivo}">
        <span> {{mensagemAlerta}} </span>
      </div>
    </main>
    <script src="./app.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
